<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>

  <div id="comments">
    <h2><%= @article.comments.count %>Comments</h2>
    <%= render @article.comments %>
    <h3>Join Discussion :</h3>
    <%= render "comments/form" %>
  </div>
</div>