<div class="container">
<%= form_for(dictionary) do |f| %>
  <% if dictionary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dictionary.errors.count, "error") %> prohibited this dictionary from being saved:</h2>

      <ul>
      <% dictionary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :word %>
    <%= f.text_field :word %>
  </div>

  <div class="field">
    <%= f.label :translate %>
    <%= f.text_area :translate %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :grammer %>
    <%= f.text_area :grammer %>
  </div>

  <div class="field">
    <%= f.label :example %>
    <%= f.text_area :example %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
